* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b141a;
  overflow: hidden;
  position: relative;
}

/* PARTICULAS */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* CONTENEDOR */

.container {
  width: 420px;
  max-width: 92%;

  padding: 40px;

  background: #111b21;

  border-radius: 16px;

  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.7),
    0 0 30px rgba(0, 168, 132, 0.15);

  color: white;

  display: flex;
  flex-direction: column;

  gap: 38px;

  z-index: 2;
}
input {
  height: 48px;
}
button {
  height: 48px;
}
/* TITULO */

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* INPUTS */

input {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 10px;

  background: #202c33;
  color: white;

  outline: none;

  font-size: 15px;

  transition: 0.25s;
}

input::placeholder {
  color: #8696a0;
}

input:focus {
  box-shadow: 0 0 10px rgba(0, 168, 132, 0.6);
}

/* BOTON */

button {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 10px;

  background: #00a884;

  color: white;

  font-weight: bold;

  font-size: 15px;

  cursor: pointer;

  transition: 0.25s;
}

button:hover {
  transform: scale(1.03);
  background: #02c39a;
}

/* SWITCH */

.switch {
  text-align: center;

  cursor: pointer;

  color: #00e1b2;

  font-size: 15px;

  margin-top: 5px;
}

.switch:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.msg {
  margin-top: 10px;
  color: #ff6b6b;
  font-size: 14px;
  text-align: center;
}

/* ================= */
/* RESPONSIVE */
/* ================= */

@media (max-width: 600px) {
  .container {
    width: 95%;

    padding: 30px;

    gap: 16px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    padding: 15px;
    font-size: 14px;
  }

  button {
    padding: 15px;
    font-size: 14px;
  }
}

/* teléfonos pequeños */

@media (max-width: 400px) {
  .container {
    padding: 25px;
  }

  input {
    padding: 14px;
  }

  button {
    padding: 14px;
  }
}

/* pantallas bajas */

@media (max-height: 600px) {
  body {
    align-items: flex-start;
    padding-top: 60px;
  }
}
